server:
  port: ${PORT:8082}
spring:
  application:
    name: notification-service
  rabbitmq:
    host: ${RABBIT_HOST:localhost}
    port: ${RABBIT_PORT:5672}
    username: ${RABBIT_USER:guest}
    password: ${RABBIT_PASS:guest}
management:
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true

app:
  messaging:
    exchange: order.events
    routing-keys:
      orderCreated: order.created.v1
      orderStatusChanged: order.status-changed.v1
    queues:
      orderCreated: dev.notifications.order-created
      orderStatusChanged: dev.notifications.order-status-changed
    dlq:
      orderCreated: dev.notifications.order-created.dlq
      orderStatusChanged: dev.notifications.order-status-changed.dlq
  security:
    issuer: rtos
    audience: rtos-clients
    secrets:
      - ${JWT_SECRET:dev-change-this-32B-min-aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa}
